@font-face {
    font-family: 'roboto';
    src: url('./fonts/Roboto-Regular.woff') format('woff'),
        url('./fonts/Roboto-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ananda';
    src: url('./fonts/Ananda.woff') format('woff'),
        url('./fonts/Ananda.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'migontama';
    src: url('./fonts/Migontama-Regular.woff') format('woff'),
        url('./fonts/Migontama-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
}

.content {
    width: 100vw;
}

.header, .title {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
}

.msg, .hours, .menuContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 75px;
}

.hours > h3 {
    margin: 0;
    padding: 0;
}

.hours {
    gap: 15px;
    margin-bottom: 50px;
}

.tab, h3 {
    font-family: 'roboto';
}

.tab:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.tab {
    transition: transform 0.1s ease-in-out;
}

.active {
    border-bottom: 2px solid black;
}

#name {
    font-family: 'ananda';
    font-size: 72px;
    margin: 25px 0 0 0;
    padding: 0;
}

.menuHeader {
    font-family: 'ananda';
    font-size: 40px;
    margin: 0;
    padding: 0;
}

.itemGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.itemName {
    font-family: 'migontama';
    font-size: 25px;
    margin: 0;
    padding: 0;
}

.description {
    font-family: 'migontama';
    font-size: 18px;
    margin: 0;
    padding: 0;
}